.CustomCss {
  color: brown;
}

.AppContainer {
  display: flex;
  flex-direction: column;
}

.ActionContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 50px;
  justify-content: space-evenly;
}

.buttons {
  display: flex;
  align-items: center;
  width: 90%;
}
