.CustomCss {
  color: brown;
}

.AppContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
}

.ActionContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* height: 50px; */
  justify-content: flex-end;
}

button {
  padding: 10px;
}
