.CustomCss {
  color: brown;
}

.AppContainer {
  display: flex;
  flex-direction: column;
}

.ActionContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 50px;
  justify-content: space-evenly;
}

.buttons {
  display: flex;
  align-items: center;
  width: 90%;
}

.PictureContainer {
  display: flex;
  justify-content: center;
}

.Picture {
  height: 720px;
  width: 1080px;
  border: 0.5rem solid #746d6d;
  margin: 4px;
}
